  body{
    padding: 16px;
  }
  *{
    box-sizing: border-box;
  }
  #initialization{
    width: 1000px;
  }

  button{
    padding:16px;
  }
  input{
    width: 100%;
    margin: 10px 0px;
    padding:16px;
    
  }
  textarea{
    resize: none;
    overflow-y: auto;
    height: 60px;
    width: 100%;
  }
  .pairs{
    display: flex;
    
  }
  .pairs>*{
    margin: 5px;
  }
  p{
    padding: 16px 32px;
    border-bottom: 1px solid black;
  }

